.mobileLogo {
  width: 100px;
}

.menuMobile {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5000;
  height: 100vh;
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.menuMobile h5 {
  padding: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #474d63;
}

.menuMobile h5 i {
  color: #fff;
  margin-right: 10px;
}

.menuMobile ul {
  display: flex;
  flex-direction: column;
  padding: 0px 34px;
}

.menuMobile ul li {
  display: flex;
  width: 100%;
}

.menuMobile ul li a {
  padding: 10px 20px;
  font-size: 14px;
  border-bottom: 1px solid rgb(228, 228, 228);
  width: 100%;
  color: #000;
  text-decoration: none;
}

.menuMobile-bg {
  position: fixed;
  top: 0px;
  z-index: 4;
  padding: 30px;
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.247);
}

.contactMobile {
  margin: 20px;
  padding: 20px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  font-size: 13px;
  list-style: none;
}

.contactMobile li {
  margin-bottom: 7px;
}

.socialMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 10px;
}

.socialMobile a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-decoration: none;
  color: #fff !important;
  background-color: #052e50;
  width: 35px;
  height: 35px;
}

.footer-mobile-menus {
  position: fixed;
  display: none;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 0px;
  box-shadow: rgb(78 85 98 / 22%) 0px 0px 16px;
  justify-content: space-around;
  background-color: #fff;
  z-index: 4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footerBtn a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.footerBtn a i {
  margin-bottom: 4px;
  color: #ff9000;
}

.searchBoxMobile {
  display: none;
}

.search-mobile {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 32px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgb(230, 230, 230);
}

.search-mobile input {
  width: 100%;
}

.search-mobile button {
  position: absolute;

  right: 34px;
}

.search-mobile input,
.search-mobile button {
  border: none;
  background: none;
}

.search-mobile input:focus-visible,
.search-mobile button:focus-visible {
  outline: none;
}

@media (max-width: 992px) {
  .news_top_header_box{
    flex: 1 1 50%;
  }
 
  .highlight-big {
    flex-direction: column;
  }
  .highlight-img img {
    width: 100%;
    height: auto;
  }
  .side-news-box {
    display: none;
  }
  .side-news-home-mobile {
    display: block;
    margin-top: 20px;
  }

  
  .highNews {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .column-news-image {
    height: auto !important;
    max-height: 310px;
  }
  .header_boards {
    display: none;
  }

  .topbar .header_search_box {
    display: none;
  }
  .news-home-list .column-news-box {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
    align-items: flex-start;
    gap: 20px;
  }
  .news_top_header_box {
 
    flex: 0 0 100%;
    margin-bottom: 30px;
    padding:0px 40px;
     }


  .news-home-list .column-news-content {
    flex: 1 70%;
    padding-right: 10px;
    line-height: 17px;
  }
  .news-home-list .column-news-image {
    flex: 1 30%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }
  .news-home-list .column-news-image img {
    width: 100%;
    border-radius: 5px;
  }

  .news-home-list div:nth-child(1) > .column-news-box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
  }
}

@media (max-width: 430px) {
  .headerLogo {
    width: 60%;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-bottom {
    flex-direction: column-reverse;
  }
}

@media (max-width: 336px) {
  .footer-about img,
  .headerLogo {
    width: 90%;
  }
}
